# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# project data
*/.settings/*
.project
.cproject
*.settings.xml

# Examplefiles
*.xml*
*.pdf

*.o
*.d
*.csv
*.gcda
*.gcno
*.info
*.gph

/src/c/ex8
/src/c/html/*
/src/c/latex/*
/src/c/out/*
/exe/
/exe_debug/
